body {
    background-color: rgb(22, 21, 21);
  }
  header {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 100p;
    font-size: larger;
    border-bottom: #000000;
    columns: White;
    color: wheat;
  }
  table {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border-color: white;
  
    text-align: center;
    padding: 0px;
  }
  
  h1 {
    text-align: center;
  }
  hr {
    text-align: center;
    color: wheat;
    width: 702px;
    border-radius: 10px;
    border-color: wheat;
  }
  
  button {
    background-color: transparent;
    font-weight: bold;
    color: white;
    padding: 20px;
    background-color: #f9d342;
    border-radius: 12px;
    font-weight: 900;
    font-family: sans-serif;
    padding-left: 70px;
    padding-right: 70px;
    text-transform: uppercase;
  }
  button:hover {
    background-color: transparent;
    font-weight: bold;
    color: white;
    padding: 20px;
    background-color: #fddd5c;
    border-radius: 12px;
    font-weight: 900;
    font-family: sans-serif;
    padding-left: 70px;
    padding-right: 70px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .orderedList {
    padding-left: 66px;
  }
  
  h3 {
    color: #f9d342;
    text-align: center;
    font-size: 26px;
  }
  #Firstbtd {
      border: 2px dotted wheat;
  }
  #Lastbtd {
      border: 2px dashed wheat;
  }

  #Bull {
    color: #F9D342;
    list-style-image: url('/Gallery/Images/BullLogo7px.jpg');
  }